<!-- mermaid.html -->
{{ if .Params.mermaid }}  <!-- 判断是否开启 -->
<script type="module">  
    import mermaid from '/renderjs/mermaid/dist/mermaid.esm.min.mjs'; 
    // 将上面代码下载到本地，然后引用，路径正确，但是本地引用没有渲染出来，引用线上则正常渲染
    // 将以上链接改为本地 js/mermaid.jd
    mermaid.initialize({ 
        startOnLoad: true,
        theme: 'default',
        // 添加以下配置项调整图表大小
        flowchart: {
            useMaxWidth: false,  // 禁用最大宽度限制
            htmlLabels: true,
            curve: 'basis'
        }
    });  
</script>  
<script>  
    // Replace mermaid pre.code to div  
    Array.from(document.getElementsByClassName("language-mermaid")).forEach(  
        (el) => {  
            el.parentElement.outerHTML = `<div class="mermaid">${el.innerHTML}</div>`;  
        }  
    );  
</script>  
<style>  
    /* 设置mermaid图表样式 */
    .mermaid {
        overflow: auto;  /* 添加滚动条以防图表过大 */
        text-align: center;
        margin: 1rem 0;
    }
    
    /* 设置svg大小适应容器 */
    .mermaid svg {  
        display: block;  
        margin: auto;
        max-width: 100%;  /* 确保不超过容器宽度 */
        height: auto;     /* 保持宽高比 */
    }  
    
    /* 可选：针对特定类型图表调整 */
    .mermaid .flowchart-link {
        stroke-width: 2px;
    }
</style>  
{{ end }}
