
<style>
.diary-row{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  width:100%;
  margin:1rem 0;
  gap:0.5rem;
  color:var(--color-secondary);
  font-size:0.9rem;
}
.diary-row div:nth-child(1){text-align:left;}
.diary-row div:nth-child(2){text-align:center;}
.diary-row div:nth-child(3){text-align:right;}
@media (max-width:640px){
  .diary-row{grid-template-columns:1fr;}
}
</style>

{{/* 全部依靠传参，不读取页面任何元数据 */}}
{{ $date := .Get "date" | default "" }}
{{ $datetime := .Get "datetime" | default "" }}
{{ $weather := .Get "weather" | default "" }}

<div class="diary-row">
  <div>{{ $date }}</div>
  <div>{{ $datetime }}</div>
  <div>{{ $weather }}</div>
</div>
